version: 2.1

orbs:
  cypress: cypress-io/cypress@3

jobs:
  update-algolia-index:
    executor: cypress/default
    steps:
      - checkout
      - run: yarn install
      - run: yarn update-algolia-index
  unit-tests:
    executor: cypress/default
    steps:
      - checkout
      - run: yarn install
      - run: yarn types
      - run: yarn lint
      - run: yarn test:unit

workflows:
  run-unit-tests:
    jobs:
      - unit-tests
  build-and-cypress-test:
    jobs:
      
      - cypress/run:
          name: "UI Tests - Chrome"
          package-manager: "yarn"
          install-browsers: true
          post-install: "yarn cypress info && yarn build"
          start-command: "yarn start"
          cypress-command: |
            if [[ -v CYPRESS_RECORD_KEY ]]; then
              # internal PR
              npx cypress run --browser chrome --parallel --record --key $CYPRESS_RECORD_KEY
            else
              npx cypress run --browser chrome
            fi
          post-steps:
            - run:
                name: Check for Broken Links
                command: "yarn check:links"
      - cypress/run:
          name: "UI Tests - Chrome - Mobile"
          package-manager: "yarn"
          install-browsers: true
          post-install: "yarn cypress info && yarn build"
          start-command: "yarn start"
          cypress-command: |
            if [[ -v CYPRESS_RECORD_KEY ]]; then
              # internal PR
              npx cypress run --browser chrome --config viewportWidth=375,viewportHeight=667 --parallel --record --key $CYPRESS_RECORD_KEY
            else
              npx cypress run --browser chrome
            fi
          post-steps:
            - run:
                name: Check for Broken Links
                command: "yarn check:links"

nightly:
  triggers:
    - schedule:
        cron: "0 0 * * *"
        filters:
          branches:
            only:
              - main
  jobs:
    - update-algolia-index
